[submodule "authentication"]
	path = authentication
	url = git@github.com:edge-ml/authentication.git
[submodule "backend"]
	path = backend
	url = git@github.com:edge-ml/backend.git
[submodule "frontend"]
	path = frontend
	url = git@github.com:edge-ml/frontend.git
